@import "../Fonts/Fonts.scss";

@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
.navbarColor {
  color: black !important;
  background-color: #fff !important;
}

.logo{
  font-family:'Yellowtail', cursive !important;
  font-size: 20px !important;

}