.css-1xl0h27-MuiGrid-root {
    max-width:100% !important;
}
.css-46bh2p-MuiCardContent-root{
    padding-top: 0px !important;
    padding-right: 14px !important;
    padding-bottom: 0px !important;
    padding-left: 8px !important;
}
.css-ktobrl-MuiTypography-root{
    margin: 17px 0 0px 17px !important;
}
.titleName{
    display: flex !important;
    text-align: right !important;
    margin-left:87% !important ;
}